.image-right
{
    float: right; 
    margin-left: 30px; 
    margin-right: 30px;
}
.image-left
{
    float: left; 
    margin-left: 30px;
    margin-right: 30px;
}
.judul
{
    margin-left: 30px; 
    margin-right: 30px;
}
.isi
{
    text-align: justify; 
    margin-left: 30px; 
    margin-right: 30px;
}
.tabel-image
{
    width: 70%; 
    height: 70%
}
.rata-justify
{
    text-align: justify
}
.rata-center
{
    text-align: center
}
.mb-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
